@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.map {
  &-container {
    height: 80vh;
    width: 100vw;
  }
}

.mapboxgl {
  &-popup {
    &-content {
      border-radius: 20px;
      background: #fcf3ec;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-close-button {
      top: 0.3rem;
      right: 0.7rem;
    }
  }

  &-ctrl-bottom-left {
    display: none;
  }

  &-ctrl-bottom-right {
    display: none;
  }
}

.popup {
  &-title {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

  &-description {
    padding-bottom: 0.7rem;
    font-size: 0.7rem;
    text-align: center;
  }

  &-image {
    margin-bottom: 0.7rem;
    border-radius: 4px;
    height: 9rem;
    width: 100%;
  }

  &-link {
    text-decoration: none;
    color: black;
    background: $alabaster;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    font-size: 0.7rem;

    &:hover {
      background: $mercury;
    }
  }

  &-address {
    padding-bottom: 0.7rem;
    font-size: 0.7rem;

    &--title {
      font-weight: bold;
      font-size: 0.7rem;
    }
  }

  &-lights {
    padding-bottom: 0.7rem;
  }
}

.home {
  &__view {
    background: linear-gradient(to right, #ffefba, #ffffff);
    display: flex;
    justify-content: space-around;
  }

  &__view-link {
    text-decoration: none;
  }
}

.button {
  &-normal {
    margin-right: 0.4rem;
  }

  &-satellite {
    margin-left: 0.4rem;
  }

  &-container {
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    background: linear-gradient(to right, #ffefba, #ffffff);
    display: flex;
  }

  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  background: #ffefba;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  width: 45vw;

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}
