@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.map-container {
  height: 100vh;
  width: 100vw;
}

.mapboxgl-popup {
  
  &-content {
   
    border-radius: 20px;
    background-color: $alabaster;
    background: linear-gradient(to right, #efefbb, #d4d3dd);
    // background: linear-gradient(to right, #ffefba, #ffffff);
    // background: linear-gradient(to right, #dae2f8, #d6a4a4);

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
  }

  &-close-button {
    top: 0.3rem;
    right: 0.7rem;
  }
}

.popup {
  &-title {
    padding-bottom: 0.7rem;
    // font-size: 1rem;
  }
  &-description {
    padding-bottom: 0.7rem;
    // font-size: 1rem;
  }

  &-image {
    margin-bottom: 0.7rem;
    border-radius: 4px;
    height: 10rem;
    // font-size: 1rem;
  }

  // &-button {
  //   margin-bottom: 0.7rem;
   
  //   // font-size: 1rem;
  // }

  &-link {
    text-decoration: none;
    color: black;
    background-color: #d4d3dd;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
  }

  &-address {
    padding-bottom: 0.7rem;

    &--title {
      font-weight: bold;
    }
  }

  &-lights {
    padding-bottom: 0.7rem;
  }
}
