@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.side-spots {
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 1rem;

  &__title {
    padding-bottom: 1rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    list-style: none;

    &-link {
      text-decoration: none;
      color: black;
    }

    &-item {
        display: flex;
        justify-content: center;
    //   padding-bottom: 1rem;
      padding-top: 1rem;
      border: 1px solid grey;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      margin-bottom: 1rem;
      width: 80%;
      

      &--title {
        padding-bottom: 0.7rem;
        font-size: 1rem;
      }

      &--img {
        width: 100%;
        // height: 4rem;
        border-radius: 4px;
      }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
}
