@use "./variables" as *;

@font-face {
    font-family: Space-Grotesk;
    src: url("../../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("TrueType");
    font-style: normal;
    font-weight: 400;
  }