// Breakpoints:

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Fonts:

$base-font-family: Space-Grotesk;

// Colours:

$silver: #afafaf;
$mercury: #e1e1e1;
$white: #ffffff;
$alabaster: #fafafa;