// Breakpoints:

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Fonts:

$base-font-family: Avenir;

// Colours:

$silver: #afafaf;
$mercury: #e1e1e1;
$white: #ffffff;
$alabaster: #fafafa;
$light-grey: #f7f8f9;
$cloud: #bdc5d5;
$slate: #5c667e;
$graphite: #232940;
