@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  // background-color: rgba(225, 220, 208, 0.949);
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  background: linear-gradient(to right, #dae2f8, #d6a4a4);
  background: linear-gradient(to right, #ffefba, #ffffff);
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);


  &__title {
    font-size: 1.5rem;
    // font-weight: bold;
    color: black;

    &-link {
      text-decoration: none;
    }
  }


  &__satellite-title {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
    text-align: center;
  }

  &__satellite-container--hidden {
   display: none;
  }

  &__satellite-container {
    background-color: rgba(35, 55, 75, 0.9);
    font-family: monospace;
    border-radius: 4px;
    text-decoration: none;
    color: $white;
    padding: 0.5rem;
  }

  &__satellite-sub-container {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
   
  }

  &__satellite-link {
    text-decoration: none;

    &--border {
      border-right: 1px solid $white;
      padding-right: 0.8rem;
    }
   
  }

  &__satellite-toggle {
    font-size: 0.85rem;
    text-decoration: none;
    color: $white;

   
  }
}


