.footer {
  padding: 1.3rem;
  background: linear-gradient(to right, #ffefba, #ffffff);
  width: 100vw;

  &__title {
    font-size: 1rem;
  }

  &-details {
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}
